@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import './main.css';

/* MAIN NAVIGATION MENU */
.sidebar-left {
    position: sticky;
    display: flex;
    flex-direction: column;
    height: 98vh;
}

.sidebar-left .menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.sidebar-left .menu * {
    margin-bottom: 2px;
}

.sidebar-left .menu-logo {
    margin: 8px 24px;
}

.sidebar-left .menu-logo .fa-twitter {
    padding: 12px;
    font-size: 28px;
    color: var(--clr-blue);
    border-radius: 52px;
}

.sidebar-left .menu-logo .fa-twitter:hover {
    cursor: pointer;
    background-color: rgb(225, 240, 255);
}

.sidebar-left .menu-items {
    padding: 18px;
}

.sidebar-left .menu-items a {
    text-decoration: none;
    color: var(--clr-font-dark);
    font-size: 20px;
    padding: 18px;
    border-radius: 52px;
}

.sidebar-left .menu-items a:hover {
    cursor: pointer;
    background-color: var(--clr-hover-gray);
}

.sidebar-left .menu-items i {
    margin-right: 18px;
    font-size: 22px;
}

.sidebar-left .sidebar-tweet {
    font-size: 17px;
    font-weight: 700;
    color: white;
    background: var(--clr-blue);
    border: none;
    border-radius: 52px;
    padding: 15px;
    margin: 18px;
}

.sidebar-left .sidebar-tweet:hover {
    cursor: pointer;
    background-color: rgb(26, 138, 212);
}

/* Profile card  */

.sidebar-left .profile-card {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 52px;
}

.sidebar-left .profile-card:hover {
    cursor: pointer;
    background-color: var(--clr-hover-gray);
}

.sidebar-left .profile-card .profile-photo {
    object-fit: cover;
    height: 42px;
    width: 42px;
    margin-right: 10px;
    border-radius: 50%;
}

.sidebar-left .profile-card .profile-name {
    margin: 3px;
    font-weight: 600;
    font-size: 16px;
}

.sidebar-left .profile-card .profile-handle {
    margin: 3px;
    font-size: 16px;
    color: var(--clr-font-gray);
}

.sidebar-left .profile-card .fa-ellipsis {
    margin-left: 40px;
    font-size: 18px;
    color: var(--clr-font-gray);
}
